#title {
    color: #C77BFF;
    font-size: xx-large;
    padding: 10px 10px 10px 30px;
}

#header-content{
    height: 50px;
    display: inline-block;
    width: 100%;
}

.fa-power-off{
    color: grey;
}

.fa {
    font-size: 30px;
}

#signout-container{
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#signout-container:hover{
    cursor: pointer;
}

#userName{
    display: inline;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

b:hover {
    cursor: pointer;
}
