<div class="right-button-container">
    <button class="add-button" (click)="addTask()"> + Add task</button>
</div>
<div id="task-list-container">
    <h2>All tasks</h2>

    <div class="task-filter-button" (click)="showHideFilter()">Filter</div>
    <div [ngClass]="{'task-filter': true, 'hidden': showFilter === false}">
        <div class="task-filter-option">
            <label for="task-filter-prio">Priority</label><br>
            <select id="task-filter-prio" (change)="onFilter($event.target)">
                <option value="">ALL</option>
                <option value="low">LOW</option>
                <option value="medium">MEDIUM</option>
                <option value="high">HIGH</option>
            </select>
        </div>
        <div class="task-filter-option">
            <label for="task-filter-assignee">Assignee</label><br>
            <select id="task-filter-assignee" (change)="onFilter($event.target)">
              <option value="">ALL</option>
              <option *ngFor='let member of team' [value]="member.id">
                {{member.name}}
              </option>
            </select>
        </div>
        <div class="task-filter-option">
            <label for="task-filter-status">Status</label><br>
            <select id="task-filter-status" (change)="onFilter($event.target)">
        <option value="">ALL</option>
        <option value="free">FREE</option>
        <option value="in_progress">IN PROGRESS</option>
        <option value="to_test">TO TEST</option>
        <option value="done">DONE</option>
      </select>
        </div>

    </div>

    <table [ngClass]="{'task-table': true, 'task-table-filter': showFilter === true}" (scroll)="onScroll($event)">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Deadline/Estimate</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of filteredTasks" (click)="showTaskDetail(task?.id)" class="task-table-item">
                <td>
                    <div class="task-table-title">{{task?.title}}</div>
                </td>
                <td>
                    <div class="task-table-status {{task?.status}}">{{status[task?.status]}}</div>
                </td>
                <td>{{task?.assignee?.name ? task?.assignee?.name : "&nbsp;"}}</td>
                <ng-template #empty>
                    <td></td>
                </ng-template>
                <td>{{task.estimate}} hours</td>
                <td>
                    <div class="task-table-status {{task?.priority}}">{{priority[task?.priority]}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <div class="pagination-links">
            <a *ngIf="pagination.prev != null" (click)="prevPage()"><span>Prev</span> &laquo;</a>
            <a *ngIf="pagination.next != null" (click)="nextPage()">&raquo; <span>Next</span></a>
        </div>
    </div>
</div>