.task-table {
  width: 100%;
}

.task-table td {
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0 20px 0;
}

.task-table tr {
  text-align: center;
}

.task-table th {
  border-bottom: 2px solid #dddddd;
}

h2 {
  margin: 20px 40px 20px 40px;
  float:left;
}

.task-filter-button {
  float: right;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.task-filter {
  float: left;
  width: 100%;
  margin: 0 40px 0 40px;
}

.hidden{
  display: none;
}

.task-filter-option {
  display: inline-block;
  margin-right: 40px;
}

.task-table-status {
  display: inline-block;
  padding: 0 7px;
  border-radius: 10px;
  color: white;
}

.PROGRESS {
  border: 1px solid orange;
  background-color: orange;
}

.DONE {
  border: 1px solid blue;
  background-color: blue;
}

.FREE {
  border: 1px solid green;
  background-color: green;
}

.TEST {
  border: 1px solid rgb(104, 211, 214);
  background-color: rgb(104, 211, 214);
}

.HIGH {
  border: 1px solid red;
  background-color: red;
}

.LOW {
  border: 1px solid green;
  background-color: green;
}

.NORMAL {
  border: 1px solid gold;
  background-color: gold;
}

#task-list-container{
  display: block;
  margin: 30px 30px 30px 30px;
  border: 1px solid #dddddd;
  border-radius: 20px 10px 10px 20px;
  background-color: white;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.task-table-item:hover{
  background-color: #f7f8f9;
  cursor: pointer;
}



