.overview {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin: 0px 20px;
}

.overview-table {
    width: 100%;
}

.overview-table thead tr td {
    text-align: left;
    font-weight: bold;
}

.task-table-status {
    display: inline-block;
    padding: 0 7px;
    border-radius: 10px;
    color: white;
}

.task-description-container {
    margin-top: 30px;
}

.task-description-title {
    font-size: large;
    font-weight: bold;
}

.edit:hover {
    cursor: pointer;
}

.description-area {
    width: 80%;
}