<div class="overview">
    <table class="overview-table">
        <thead>
            <tr>
                <td>Status</td>
                <td>Priority</td>
                <td>Rank</td>
                <td>Estimate <span *ngIf="user?.id == task?.creator?.id && !isEstimateEditMode" class="fa fa-pencil edit" (click)="editEstimate()"></span></td>
                <td>Deadline <span *ngIf="user?.id == task?.creator?.id && !isDeadlineEditMode" class="fa fa-pencil edit" (click)="editDeadline()"></span></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="task-table-status {{task?.status}}">{{status[task?.status]}}</div>
                </td>
                <td>
                    <div class="task-table-status {{task?.priority}}">{{priority[task?.priority]}}</div>
                </td>
                <td>{{task?.rank}}/5</td>
                <td>
                    <div *ngIf="isEstimateEditMode">
                        <form [formGroup]="estimateGroup" (ngSubmit)="saveEstimate()">
                            <input type="number" formControlName="estimate" name="estimate" min="1" max="200" />
                            <input type="submit" />
                        </form>
                    </div>
                    <p *ngIf="!isEstimateEditMode">
                        {{task?.estimate}} hours
                    </p>
                </td>
                <td>
                    <div *ngIf="isDeadlineEditMode">
                        <form [formGroup]="deadlineGroup" (ngSubmit)="saveDeadline()">
                            <input type="date" formControlName="deadline" name="deadline" />
                            <input type="submit" />
                        </form>
                    </div>
                    <p #editDeadlineField *ngIf="!isDeadlineEditMode" [ngClass]="{'after-deadline-warning': isAfterDeadline}">
                        {{task?.deadline.split(" ")[0]}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="task-description-container">
        <form [formGroup]="descritionGroup" (ngSubmit)="saveDescription()" #descriptionForm>
            <div>
                <h3 class="task-description-title">Description
                    <span *ngIf="user?.id == task?.creator?.id && !isDescriptionEditMode" class="fa fa-pencil edit" (click)="editDescription()"></span>
                </h3>

            </div>
            <div class="task-description-content">
                <p *ngIf="!isDescriptionEditMode">{{task?.description}}</p>
                <textarea class="description-area" *ngIf="isDescriptionEditMode" formControlName="description" rows="10" value="task?.description">{{task?.description}}</textarea>
            </div>
            <button type="submit" *ngIf="isDescriptionEditMode">Submit</button>
        </form>

    </div>
</div>