<div id="team-list-container">
    <h2>Team</h2>
    <table class="team-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Average task priority</th>
                <th>Average time on task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of team" (click)="showPersonDetail(person.id)" class="team-table-item">
                <td>{{person.name}}</td>
                <td>{{person.rank}}</td>
                <td>
                    <div class="task-table-status {{person.avg_task_priority}}">{{priority[person.avg_task_priority]}}</div>
                </td>
                <td><div>{{person.avg_time ? person.avg_time : "&nbsp;"}}</div></td>
            </tr>
        </tbody>
        
    </table>
</div>