.team-table {
    display: inline-block;
    margin-top: 28px;
    height: calc(100% - 30px - 124px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

thead {
    position: absolute;
    margin-top: -28px;
    display: inline-block;
    width: calc(100% - 200px - 62px);
    background-color: white;
}

tbody {
    display: inline-block;
    width: 100%;
}

.team-table td {
    text-align: center;
    padding: 20px 0 20px 0;
    display: inline-block;
    width: 25%;
}

.team-table tr {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.team-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.team-table thead tr {
    border-bottom: 2px solid #dddddd;
}

.team-table th {
    display: inline-block;
    width: 25%;
    
}

h2 {
    margin: 20px 40px 20px 40px;
    float: left;
}

.task-table-status {
    display: inline-block;
    padding: 0 7px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}

#team-list-container {
    display: block;
    margin: 30px 30px 30px 30px;
    height: calc(100% - 60px);
    border: 1px solid #dddddd;
    border-radius: 20px;
    background-color: white;
}

.team-table-item:hover {
    background-color: #f7f8f9;
    cursor: pointer;
}

.pagination-links {
    margin: auto;
}

.pagination a:hover {
    cursor: pointer;
}

.pagination a {
    color: #7215d8;
    float: left;
    padding: 2px 16px 8px 16px;
    text-decoration: none;
    font-size: x-large;
    transition: background-color .3s;
  }
  
  .pagination a span {
    font-size: large;
  }

  @media screen and (max-width: 1024px) {

    thead {
        width: calc(100% - 32px) !important;
        overflow: hidden;
    }
  
    .team-table{
        overflow-x: auto;
        height: calc(100% - 30px - 113px);
    }
  
    tr {
        min-width: 500px;
    }

    #team-list-container {
        height: calc(100% - 45px);
        margin: 15px 15px 30px 15px;
    }

    h2 {
        margin: 15px 30px 15px 30px;
    }

}