<div id="team-list-container">
    <h2>Team</h2>
    <table class="team-table" (scroll)="onScroll($event)">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Average task priority</th>
                <th>Current # of tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of team" (click)="showPersonDetail(person.id)" class="team-table-item">
                <td>{{person.name}}</td>
                <td>{{person.rank == null ? ('0/5'):(person.rank+'/5')}}</td>
                <td>
                    <div class="task-table-status {{person.avg_task_priority}}">{{priority[person.avg_task_priority]}}</div>
                </td>
                <td>
                    <div>{{person.numberOfAssignedTasks}}</div>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="pagination">
        <div class="pagination-links">
            <a *ngIf="pagination.prev != null" (click)="prevPage()"><span>Prev</span> &laquo;</a>
            <a *ngIf="pagination.next != null" (click)="nextPage()">&raquo; <span>Next</span> </a>
        </div>
    </div>
</div>