/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Mulish';
    margin: 0;
}

/* we can wrap all container components into div and specify these styles in global style file */
#container{
    width: 90%;
    float: left;
    background-color: #F2EDF3;
}

app-navigation{
    height: 100%;
    width: 10%;
    background-color: #1C1C1C;
    float: left;
}

.in_progress {
    border: 1px solid orange;
    background-color: orange;
  }
  
  .done {
    border: 1px solid blue;
    background-color: blue;
  }
  
  .free {
    border: 1px solid green;
    background-color: green;
  }
  
  .to_test {
    border: 1px solid rgb(104, 211, 214);
    background-color: rgb(104, 211, 214);
  }
  
  .high {
    border: 1px solid red;
    background-color: red;
  }
  
  .low {
    border: 1px solid green;
    background-color: green;
  }
  
  .medium {
    border: 1px solid gold;
    background-color: gold;
  }