/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: 'Mulish';
    margin: 0;
}


/* we can wrap all container components into div and specify these styles in global style file */

#container {
    width: calc(100% - 200px);
    float: left;
    background-color: #F2EDF3;
}

app-navigation {
    height: 100%;
    width: 200px;
    float: left;
}


/* Scrollbar */


/* width */

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #818181;
}

.in_progress {
    border: 0px solid #f6610c;
    background-color: #f6610c;
}

.done {
    border: 0px solid blue;
    background-color: blue;
}

.free {
    border: 0px solid green;
    background-color: green;
}

.to_test {
    border: 0px solid #334151;
    background-color: #334151;
}

.high {
    border: 0px solid #a40c0a;
    background-color: #a40c0a;
}

.low {
    border: 0px solid green;
    background-color: green;
}

.medium {
    border: 0px solid #f6610c;
    background-color: #f6610c;
}

.menu {
    display: none;
}

.cdk-overlay-container {
    z-index: 20000 !important;
}


/* Mobile/Tablet resolutions */

@media screen and (max-width: 1024px) {
    app-navigation {
        display: none;
    }
    .openMenu app-navigation {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        height: calc(100% - 50px);
        z-index: 10;
    }
    .menu {
        display: inline-block;
    }
    #container {
        width: 100%;
        overflow-y: auto;
    }
}