app-assigned-list,
app-created-list {
    width: 50%;
    float: left;
    height: calc(100%);
}

#container {
    background-color: #F2EDF3;
    height: calc(100vh - 50px);
    /*50px = header*/
}

@media screen and (max-width: 1024px) {
    app-assigned-list,
    app-created-list {
        width: 100%;
        height: auto;
        max-height: 600px;
    }
}