#container{
  background-color: #F2EDF3;
  height: calc(100vh - 50px); /*50px = header*/
  text-align: center;
  
}

article {
  padding-top: 35vh;
  font-size: 2em;
}

span {
  font-size: large;
  color: gray;
}