<div class="subtask">
    <div *ngIf="!task?.parent_id">
        <h4>Subtasks <span class="fa fa-plus" (click)="onAddLink()"></span></h4>

        <table *ngIf="task?.subTasks.length > 0" class="task-table" (scroll)="onScroll($event)">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subtask of task.subTasks" class="task-table-item">

                    <td (click)="onRemoveSubtask(subtask.id);open(deleteModal)">
                        <span class="fa fa-minus"></span>
                    </td>
                    <td (click)="showTaskDetail(subtask?.id)">
                        <div class="task-table-title" (click)="onRemoveSubtask(subtask.id)">{{subtask?.title}}</div>
                    </td>
                    <td (click)="showTaskDetail(subtask?.id)">
                        <div class="task-table-status {{subtask?.status}}">{{status[subtask?.status]}}</div>
                    </td>
                    <td (click)="showTaskDetail(subtask?.id)">{{subtask?.assignee?.name ? subtask?.assignee?.name : "&nbsp;"}}</td>
                    <ng-template #empty>
                        <td></td>
                    </ng-template>
                    <td (click)="showTaskDetail(subtask?.id)">
                        <div class="task-table-status {{subtask?.priority}}">{{priority[subtask?.priority]}}</div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="parent">
        <h4>Parent task <span (click)="onRemoveParent()" class="fa fa-minus"></span></h4>
        <table class="task-table" (scroll)="onScroll($event)">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Estimate</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="showTaskDetail(parent.id)" class="task-table-item">
                    <td>
                        <div class="task-table-title">{{parent?.title}}</div>
                    </td>
                    <td>
                        <div class="task-table-status {{parent?.status}}">{{status[parent?.status]}}</div>
                    </td>
                    <td>{{parent?.assignee?.name ? parent?.assignee?.name : "&nbsp;"}}</td>
                    <ng-template #empty>
                        <td></td>
                    </ng-template>
                    <td>{{parent.estimate}} hours</td>
                    <td>
                        <div class="task-table-status {{parent?.priority}}">{{priority[parent?.priority]}}</div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove subtask link</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to unlink this subtask?</p>
    </div>
    <div class="delete-options-buttons">
        <button (click)="modal.dismiss('Cross click')">NO</button>
        <button (click)="remove();modal.dismiss('Cross click')">YES</button>
    </div>
</ng-template>