<div id="task-detail-header">
    <h1 id="task-title">Task1</h1>
    <div id="button-container">
        <button id="assign-button" class="btn btn-block btn-primary">Assign to</button>
    </div>
</div>
<app-task-overview [task]="task"></app-task-overview>
<div class="people-container">
    <div class="people-detail">
        <h4>Project manager</h4>
        <span>{{task.creator}}</span>
    </div>
    <div class="people-detail">
        <h4>Client</h4>
        <span>{{task.client}}</span>
    </div>
    <div class="people-detail">
        <h4>Assignee</h4>
        <span *ngIf="task.assignee != null; else notAssigned">{{task.assignee}}</span>
        <ng-template #notAssigned>
            This task has no assignee
        </ng-template>
    </div>
</div>