.new-task-container {
    margin: auto;
    background-color: white;
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    width: 80%;
    height: auto;
    margin: 50px auto 50px auto;
}

.text-input,
.text-input:active {
    border: none;
    border-bottom: solid 1px gray;
    background: none;
    outline: none;
    width: 100%;
}

.field {
    margin: 40px;
}

.field h4 {
    margin-bottom: 10px;
}

.task-deadline {
    margin-bottom: 50px;
}

.fields-container {
    margin: auto;
}

.right-button-container {
    text-align: right;
}

.add-button {
    margin: 10px 50px 30px 0px;
    background-color: #7215d8;
    border: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    font-size: larger;
}

.task-table-status {
    display: inline-block;
    padding: 0 7px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}

.task-table-status:hover {
    cursor: pointer;
}

.task-priority-values {
    display: grid;
    justify-content: space-between;
}

.active-priority {
    border: 3px solid darkslategrey;
}

::ng-deep .mat-input-underline {
    visibility: visible;
    z-index: -999;
    display: block;
}

.other-fields {
    display: flex;
}

.estimate {
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .new-task-container {
        margin: 15px 30px 15px 15px;
        width: calc(100% - 30px);
    }
    .field {
        margin: 20px;
    }
    .other-fields {
        display: block;
    }
    .estimate {
        margin-top: 0;
    }
    .mat-form-field {
        width: calc(100%);
    }
    .task-priority-values {
        display: block;
    }
}