#person-detail-header {
    padding: 30px 30px 0px 30px;
    display: inline-flex;
    width: 100%;
}

.overview {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin: 0px 20px;
}

.overview-table {
    width: 100%;
}

.overview-table thead tr td {
    text-align: left;
    font-weight: bold;
}

.task-table-title {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-table-item:hover{
    background-color: #f7f8f9;
    cursor: pointer;
  }

.person-table-status {
    display: inline-block;
    padding: 0 7px;
    border-radius: 10px;
    color: white;
}

.person-description-container {
    margin-top: 30px;
}

.person-description-title {
    font-size: large;
    font-weight: bold;
}

.task-container {
    width: 45%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 20px;
}

h4 {
    font-size: large;
    font-weight: bold;
    margin: 5px 10px 10px 10px;
}

.task-table {
    width: 100%;
    padding-top: 20px;
}

.task-table td {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0 20px 0;
}

.task-table tr {
    text-align: center;
}

.task-table th {
    border-bottom: 2px solid #dddddd;
}

.task-table-status {
    display: inline-block;
    padding: 0 7px;
    border-radius: 10px;
    color: white;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 300px;
}

@media screen and (max-width: 1024px) {
    .task-container {
        width: calc(100% - 30px);
        margin: 20px 15px 20px 15px;
    }

    #person-detail-header {
        padding: 15px 30px 0px 30px;
    }

    .overview {
        margin: 0px 15px;
    }

}